.strip-inner {
	position: relative;
	top: 0;
	height: 100%;
	width: -moz-fit-content;
	width: fit-content;
}
.draggable {
	height: 100%;
	/*height: 500px;
	top: calc(50% - 250px);*/
	width: 100%;
	position: absolute;
	cursor: grab;
	display: block;
}
.draggable:active {
	cursor: grabbing;
}
.strip {
	height: 100%;
	width: -moz-fit-content;
	width: fit-content;
	display: flex;
	align-items: start;
	position: relative;
	pointer-events: none;
}
.strip-cover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-cover);
	pointer-events: none;
	opacity: 0;
}

/* Will-change */
.strip,
.strip__item,
.cursor__side {
	will-change: transform;
}

@media (any-pointer: fine) {
	.cursor {
		display: block;
	}
	.cursor__inner {
		z-index: 9999;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
	}
	.cursor__inner--circle {
		width: 24px;
		height: 24px;
		background-color: #fff;
	}
}
